<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>
</head>
<body>
    <h1>Nguyễn Quốc Khánh</h1>
    <h2>20 tuổi</h2>
    <h2>Sinh viên năm 2 trường Đại học Bách Khoa Hà Nội</h2>
    <h2>Ngành: Kỹ thuật phần mềm</h2>
    <h2>Sở thích: Code, xem phim, đá bóng, du lịch</h2>
    <h2>Tình trạng: Offline</h2>

    <img src="https://pickaface.net/gallery/avatar/Identical52046a933b5e3.png" alt="My avatar" style="border-radius: 50%">

</body>
</html>