<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C4E24 Web Introduciton</title>
</head>
<body>
    <h1>Hello C4E</h1>

    <h4>{{ character["name"] }}</h4>
    <h5>{{ character["company"] }}</h5>
    {% for abi in character["abilities"] %}
        <h6>{{ abi }}</h6>
    {% endfor %}

    <img src={{ character["image"] }} alt="Aquaman picture">

</body>
</html>